<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        .error-message {
            color: rgb(255, 0, 0);
        }
    </style>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Register</button>
    </form>
    <!-- Back button to the login page -->
    <a href="{% url 'login' %}">Back to Login</a>
    {% if messages %}
        {% for message in messages %}
            <p class="error-message">{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>
